<div data-role="view" data-title="Find Featured Books" data-layout="main" data-model="app.beaconService.viewModel">
  <div class="rounded">
            
            <div id="beaconlog">
                Looking for beacons...
            </div>
      
            <div class="buttons">
                <button data-role="button" class="button start" data-bind="click: start">Start Searching</button>
            
                <button data-role="button" class="button stop" data-bind="click: stop">Stop Searching</button>
            </div>
   </div>
</div>